{% extends 'layout/base.html' %}
{% load static %}

{% block extra_head %}
	{% load bootstrap4 %}       {# imports bootstrap4 #} 	
 	{% bootstrap_javascript %}  {# Embeds Bootstrap JS #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
{% endblock %}


{% block page_name %}Create Quote{% endblock %}
{% block content %}
	<div class="box box-default">
       <div class="box-header">
         <!-- <h3 class="box-title">Quote Information</h3>-->
			<!--          <div class="box-tools pull-right"> -->
			<!--            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button> -->
			<!--            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
			<!--          </div> -->
       </div>
       <!-- /.box-header -->
       <div class="box-body">
         <div class="row">
           <div class="col-md-6">
		  <form method="post" method="post" class="form">
		    {% csrf_token %}
		    {% bootstrap_form form %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">Submit</button>
		    {% endbuttons %}    
 		  </form>
 	 	</div>
 	 </div>
 	</div>	 	 
  </div>
{% endblock %}