<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
    	<i class="fas fa-cubes"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{% block apptitle %} App Name {% endblock %}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url "home" %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url "home" %}">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Schedule</span></a>
  </li>
  
  <!-- Nav Item - Quotes Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-edit"></i>
      <span>Quotes</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="buttons.html">Add Quote</a>
        <a class="collapse-item" href="cards.html">Manage Quotes</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Quotes Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      <i class="fas fa-fw fa-edit"></i>
      <span>Jobs</span>
    </a>
    <div id="#collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="cards.html">Manage Jobs</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContacts" aria-expanded="true" aria-controls="collapseContacts">
      <i class="fas fa-fw fa-folder"></i>
      <span>Contacts</span>
    </a>
    <div id="collapseContacts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Customers</h6>
        <a class="collapse-item" href="login.html">Add Customer</a>
        <a class="collapse-item" href="register.html">Manage Customers</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Suppliers</h6>
        <a class="collapse-item" href="404.html">Add Supplier</a>
        <a class="collapse-item" href="blank.html">Manage Suppliers</a>
      </div>
    </div>
  </li>
  
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Reports</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Customers</h6>
        <a class="collapse-item" href="login.html">Add Customer</a>
        <a class="collapse-item" href="register.html">Manage Customers</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Suppliers</h6>
        <a class="collapse-item" href="404.html">Add Supplier</a>
        <a class="collapse-item" href="blank.html">Manage Suppliers</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->